<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bus Ticket Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                   
                </button>
                @Html.ActionLink("Bus Sheba", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                  
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <div>
        <footer>


            <div class="col-lg-8">
                <div class="row mb-5">

                    <div class="col-md-3 col-lg-2">
                        <ul class="list-unstyled">
                            <li><a href="index.php">Home</a></li>

                        </ul>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <ul class="list-unstyled">

                            <li><a href="destination.php">Destination</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-lg-4">
                        <ul class="list-unstyled">
                            <li><a href="index.php">About Us</a></li>

                        </ul>
                    </div>
                    <div class="col-md-5 col-lg-3">
                        <ul class="list-unstyled">

                            <li><a href="contact.php">Contact Us</a></li>
                        </ul>
                    </div>



                   



                </div>











</footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>











